# ----------------------------------------
# 📦 DEPENDENCIAS
# ----------------------------------------
**/node_modules/
**/dist/
**/.expo/
**/.expo-shared/
**/.next/
**/.turbo/
**/build/

# ----------------------------------------
# ⚙️ CONFIGURACIÓN DE PLATAFORMAS
# ----------------------------------------
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# ----------------------------------------
# 🔒 CLAVES, CERTIFICADOS Y ENV
# ----------------------------------------
**/.env
**/.env.*
*.pem
*.p12
*.key
*.jks
*.p8
*.mobileprovision

# ----------------------------------------
#  CONFIGURACIONES LOCALES
# ----------------------------------------
.vscode/
.idea/
*.orig.*
*.log

# ----------------------------------------
# SISTEMA OPERATIVO
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# ⚡ EXPO & METRO
# ----------------------------------------
.expo/
.web-build/
.expo-shared/
.expo-env.d.ts
.metro-health-check*
app-example

# ----------------------------------------
# 🔥 FIREBASE LOCAL CONFIG (NO subir al repo)
# ----------------------------------------
firebase-debug.log
firebase-debug.*
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
.config/

# ----------------------------------------
#  HUSKY / GIT HOOKS TEMP FILES
# ----------------------------------------
.husky/_/

